html{
    --main-color:
}
body{
    font-family: "Abril Fatface",cursive;
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-size: cover;
    overflow-x: hidden;
}
 /* tete de page  */
.navbar-light .navbar-nav .nav-item a {
    color:black;
}
.navbar-light .navbar-nav .nav-item a,#icons svg path:hover{
    color:white;
}
.container-fluid h4{
    margin-left: 50px;
}
.navbar img{
    height: 100px;
    width: auto;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 50px;
}
.logo{
    margin-right: 200px;
}
#mentions h1{
    color:rgba(0, 183, 255, 0.438);
}
/* fin du header */
#row1{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#image-accueil-metier img{
    border-radius: 10%;
    padding: 0;
    width: 100%;
    height: auto;
}
#text-rotation{
    margin-top: 50px;
    margin-bottom: 0%;
    margin-left: 0;
    text-align: justify;
    padding: 100px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    text-decoration: none;
    color:black;
}
#text-rotation a{
    color: black;
    text-decoration: none;
}
#row2{
    margin: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#image-editeur-code img{
    border-radius: 10%;
    padding: 0%;
    width: 100%;
    height: auto;
}
#code-description{
    margin-top: 50px;
    text-align:none;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    text-decoration: none;
    color:black;
}
#code-description a{
    color: black;
    text-decoration: none;
}
/* animation rond */
#text-rotation:hover, #code-description:hover{ 
    animation: text-accueil 4s ease-in-out infinite;
}
@keyframes text-accueil{
    0%{
        transform: rotate(0deg);
        border: 1px solid black;
    }
    50%{
        border: 20px solid black;
    }
    100%{
        transform: rotate(360deg);
        border: 1px solid black;
    }
}
#salaire-dev{
    animation-duration: 5s;
    animation-name: text;
}
@keyframes text{
    0%{
        transform: scale(0.1);
        opacity: 0;
    }
    60%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(1);
    }
}
#qualitees-dev{
    animation-duration: 10s;
    animation-name: text;
}
@keyframes text{
    0%{
        transform: scale(0.1);
        opacity: 0;
    }
    60%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(1);
    }
}
#son-cursus{
    animation-duration: 15s;
    animation-name: text;
}
@keyframes text{
    0%{
        transform: scale(0.1);
        opacity: 0;
    }
    60%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(1);
    }
}
/* page de bienvenue */
.big-title{
    color: black;
    font-size:80px;
    margin-top: 150px;
    margin-left: 150px;
}

/* footer */
footer{
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color:black;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: black;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    padding-right: 30px;
}
.socials li{
    margin: 0 10px;
}
.socials svg{
    color:black;
    font-size: 1.1rem;
}
.socials li svg :hover{
    color:lightblue; 
}
.footer-bottom div{
    display: flex;
    justify-content: center;
}
.footer-bottom span{
     color: rgb(117, 3, 3); 
}

/* page notre equipe */

#equipe-body{
    height: 100vh;
}
#img-cidalia{
    display: flex;
    justify-content: center;
}
#img-cidalia img{
    border-radius: 25%;
}
#img-alice img{
    border-radius: 25%;
}
#et{
    display: flex;
    justify-content: center;
    align-items: center;
}
#et p{
    font-size: 100px;
    text-shadow: 0 0 70px #3cba92,
                 0 0 70px #3cba92,
                 0 0 70px #3cba92,
                 0 0 70px #3cba92,
                 0 0 70px #3cba92;
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
#img-alice{
    display: flex;
    justify-content: center;
}
#nom-cidalia{
    display: flex;
    justify-content: center;
}
#nom-alice{
    display: flex;
    justify-content: center;
}
.and-you{
    display: flex;
    justify-content: center;
}
.and-you p{
    font-size: 100px;
}
@media(max-width:768px){
    #img-cidalia{
        display: flex;
        order: 1;
    }
    #nom-cidalia{
        display: flex;
        order: 2;
    }
    #et{
        display: flex;
        order: 3;
    }
    #img-alice{
        display: flex;
        order: 4;
    }
    #nom-alice{
        display: flex;
        order: 5;
    }
}

/* page notre approche */
#approche{
    height: 100vh;
}
.text{
    margin-left: 100px;
}
/* page contact */
#maps-g iframe{
    width: 100%;
    height: 400px;
}
#Mail{
    height: 150px;
}
#tel-icon{
    display: flex;
    justify-content: center;
}
#numero-tel{
    display: flex;
    justify-content: center;
}
#tel-icon svg{
    height: 100px;
    width: auto;
}
#email-icon{
    display: flex;
    justify-content: center;
}
#email-icon svg{
    height: 100px;
    width: auto;
}
#ad-email{
    display: flex;
    justify-content: center;
}
#ad-maps{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#maps-g iframe{
    margin-left: 50px;
}
@media(max-width:768px){
    #tel-icon{
        display: flex;
        order: 1;
    }
    #numero-tel{
        display: flex;
        order: 2;
    }
    #email-icon{
        display: flex;
        order: 3;
    }
    #ad-email{
        display: flex;
        order: 4;
    }
    #maps-g{
        display: flex;
        order: 5;
    }
    #ad-maps{
        display: flex;
        order: 6;
    }
}
#maps-g iframe{
    margin-left: 0;
}
#form-mail{
    display: flex;
    justify-content: center;
}
.form-control{
    width: 500px;
}
/* page notre formateur */
#text-h1{
    display: flex;
    justify-content: center;

}
#text-loup {
    display: flex;
    align-items: center;
}
#text-h1{
    animation-duration: 15s;
    animation-name: text;
}
@keyframes text{
    0%{
        transform: scale(0.1);
        opacity: 0;
    }
    60%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(1);
    }
}
/* page mentions legales */
#mentions{
    height: 100vh;
}
#mentions div{
    display: flex;
    justify-content: center;
}
#revenir-accueil a{
    color: rgb(8, 11, 158);
    text-decoration: none;
}
#revenir-accueil a:hover{
    color: lightblue;
}